@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.firstcontainer {
    background-color: #1F2937;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}